<div data-bs-parallax-bg="true" class="cover">
  <div class="title-malistica">

    <!-- LOGO -->
    <div class="wrap-logo">
      <a href="index.html" class="link-home"><img src="../assets/img/Malistica Light@2x.png" class="logo"></a>
    </div>

    <!-- DESCRIPTION -->
    <h1 class="description-site">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.
    </h1>
    <hr class="hr-divider">

    <!-- SOCIAL -->
    <div class="s-social">
      <a href="#" class="url-social"><i class="fa fa-facebook"></i></a>
      <a href="#" class="url-social"><i class="fa fa-twitter"></i></a>
      <a href="#" class="url-social"><i class="fa fa-dribbble"></i></a>
      <a href="#" class="url-social"><i class="fa fa-linkedin"></i></a>
      <a
        href="#" class="url-social"><i class="fa fa-vk"></i></a>
    </div>
  </div>
  <div class="cover-overlay"></div>
</div>

<app-sidebar></app-sidebar>

<section class="main">
  <div class="container container-main">
    <div class="col-lg-8 col-lg-push-2 col-md-8 col-md-push-2 col-sm-10 col-sm-push-1 colom-main">

      <!-- POST LIST -->
      <!-- POST -->
      <article class="post-item"><a href="#" class="link-title"><h1 class="post-title">The standard Lorem Ipsum passage, used since the 1500s </h1></a>
        <ul class="list-inline post-meta">
          <li>By John doe</li>
          <li>21 August, 2017</li>
        </ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <section class="section-meta"><a href="#" class="a-tag">graphic design</a><a href="#" class="a-readmore">read more...</a></section>
      </article>

      <!-- POST -->
      <article class="post-item"><a href="#" class="link-title"><h1 class="post-title">Finibus Bonorum et Malorum </h1></a>
        <ul class="list-inline post-meta">
          <li>By John doe</li>
          <li>21 August, 2017</li>
        </ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <section class="section-meta"><a href="#" class="a-tag">graphic design</a><a href="#" class="a-readmore">read more...</a></section>
      </article>

      <!-- POST -->
      <article data-bs-parallax-bg="true" class="post-item post-featured"><a href="#" class="link-title link-feature-title"><h1 class="post-title">1914 translation by H. Rackham </h1></a>
        <ul class="list-inline post-meta">
          <li>By John doe</li>
          <li>21 August, 2017</li>
        </ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <section class="section-meta"><a href="#" class="a-tag">graphic design</a><a href="#" class="a-readmore">read more...</a></section>
      </article>

      <!-- POST -->
      <article class="post-item"><a href="#" class="link-title"><h1 class="post-title">Contrary to popular belief, Lorem Ipsum </h1></a>
        <ul class="list-inline post-meta">
          <li>By John doe</li>
          <li>21 August, 2017</li>
        </ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <section class="section-meta"><a href="#" class="a-tag">graphic design</a><a href="#" class="a-readmore">read more...</a></section>
      </article>

      <!-- POST -->
      <article class="post-item"><a href="#" class="link-title"><h1 class="post-title">Section 1.10.32 of de Finibus Bonorum et Malorum </h1></a>
        <ul class="list-inline post-meta">
          <li>By John doe</li>
          <li>21 August, 2017</li>
        </ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <section class="section-meta"><a href="#" class="a-tag">graphic design</a><a href="#" class="a-readmore">read more...</a></section>
      </article>

      <!-- POST -->
      <article class="post-item"><a href="#" class="link-title"><h1 class="post-title">There are many variations of passages of Lorem Ipsum </h1></a>
        <ul class="list-inline post-meta">
          <li>By John doe</li>
          <li>21 August, 2017</li>
        </ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <section class="section-meta"><a href="#" class="a-tag">graphic design</a><a href="#" class="a-readmore">read more...</a></section>
      </article>
    </div>
  </div>

  <!-- SECTION PAGINATION -->
  <section class="pagination-section">
    <nav>
      <ul class="pagination">
        <li><a aria-label="Previous"><span aria-hidden="true">«</span></a></li>
        <li><a>1</a></li>
        <li><a>2</a></li>
        <li><a aria-label="Next"><span aria-hidden="true">»</span></a></li>
      </ul>
    </nav>
    <div class="container container-pagination"><a href="#" class="next-page">newes post</a>
      <p class="info-pagination">Page 1 of 8</p><a href="#" class="older-page">older post</a></div>
  </section>
</section>

